<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mb-3">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}" style="cursor: pointer;"><button class="btn btn-info">Leia Mais</button></a>
        <hr>
        <small>Data de Publicação{{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem registrada !</h5>
{{/each}}